# Importing libraries:

In [1]:
import numpy as np
import pandas as pd
import sklearn
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Loading the Dataset:

In [2]:
data=pd.read_csv("C:\\Users\\227475\OneDrive\\Desktop\\LTDC Project\\survey_results_public.csv")

In [3]:
data.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

# Cleaning the Dataset:

In [4]:
print(data.WorkWeekHrs.max())
wronghours = data[data['WorkWeekHrs']>=85].index
data.drop(wronghours , inplace=True)
(data.WorkWeekHrs.max())

475.0

84.0

In [5]:
print(data.shape[0])
wrongage = data[data['Age']>=115].index
data.drop(wrongage , inplace=True)
print(data.shape[0])

64188
64187

In [6]:
print(data.shape[0])
wrongyears = data[data['YearsCodePro']>data['YearsCode']].index
data.drop(wrongyears, inplace=True)
print(data.shape[0])

64187
49414

In [7]:
data['Age1stCode'] = np.where((data.Age1stCode=='Younger than 5 years'), '4', data.Age1stCode)
data['Age1stCode'] = np.where((data.Age1stCode=='Older than 85'), '86', data.Age1stCode)
data[['Age1stCode']] = data[['Age1stCode']].astype(float)
data['Age1stCode'].fillna((data['Age1stCode'].mean()), inplace=True)

In [8]:
data['YearsCodePro'] = np.where((data.YearsCodePro=='Less than 1 year'), '0', data.YearsCodePro)
data['YearsCodePro'] = np.where((data.YearsCodePro=='More than 50 years'), '50', data.YearsCodePro)
data[['YearsCodePro']] = data[['YearsCodePro']].astype(float)

In [9]:
data['YearsCode'] = np.where((data.YearsCode=='Less than 1 year'), '0', data.YearsCode)
data['YearsCode'] = np.where((data.YearsCode=='More than 50 years'), '50', data.YearsCode)
data[['YearsCode']] = data[['YearsCode']].astype(float)

In [10]:
print(data.shape[0])
wrongyears = data[data['YearsCodePro']>data['YearsCode']].index
data.drop(wrongyears, inplace=True)
print(data.shape[0])

49414
49279

In [11]:
print(data.shape[0])
wrongyears = data[data['YearsCode']>data['Age']].index
data.drop(wrongyears, inplace=True)
print(data.shape[0])

49279
49266

In [12]:
print(data.shape[0])
wrongyears = data[data['Age1stCode']>data['Age']].index
data.drop(wrongyears, inplace=True)
print(data.shape[0])

49266
49245

In [13]:
data['YearsCodePro'].fillna((data['YearsCodePro'].mean()), inplace=True)
data['Age'].fillna((data['Age'].mean()), inplace=True)
data['WorkWeekHrs'].fillna((data['WorkWeekHrs'].mean()), inplace=True)
data['YearsCode'].fillna((data['YearsCode'].mean()), inplace=True)

In [14]:
data[['Age1stCode']] = data[['Age1stCode']].astype(int)
data[['Age']]=data[['Age']].astype(int)
data[['YearsCodePro']] = data[['YearsCodePro']].astype(int)
data[['WorkWeekHrs']]=data[['WorkWeekHrs']].astype(int)
data[['YearsCode']] = data[['YearsCode']].astype(int)

In [15]:
print(data.shape[0])
wrongyears = data[data['YearsCodePro']>data['YearsCode']].index
data.drop(wrongyears, inplace=True)
print(data.shape[0])

49245
39809

In [16]:
print(data.shape[0])
wrongyears = data[data['YearsCodePro']>data['Age']].index
data.drop(wrongyears, inplace=True)
print(data.shape[0])

39809
39616

In [17]:
print(data.shape[0])
wrongyears = data[data['YearsCode']>data['Age']].index
data.drop(wrongyears, inplace=True)
print(data.shape[0])

39616
39141

In [18]:
print(data.shape[0])
wrongyears = data[data['Age1stCode']>data['Age']].index
data.drop(wrongyears, inplace=True)
print(data.shape[0])

39141
39056

# Buliding The Model:

In [19]:
data=data[['Age','YearsCode','YearsCodePro']]

In [20]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
  
x=data['YearsCodePro']
y=data['YearsCode']
z=data['Age']

# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42, shuffle=True)
z_train, z_test, y_train, y_test = train_test_split(x, z, test_size = 0.2, random_state = 42, shuffle=True)

In [21]:
print('x_train : ')
print(x_train.head())
print('')
print('x_test : ')
print(x_test.head())
print('')
print('y_train : ')
print(y_train.head())
print('')
print('y_test : ')
print(y_test.head())

x_train :
39412    10
33340    14
60664    10
35584    10
64152    20
Name: YearsCodePro, dtype: int32

x_test :
7969     10
62724     5
34489     4
41963    10
25074    14
Name: YearsCodePro, dtype: int32

y_train :
39412    31
33340    35
60664    18
35584    31
64152    41
Name: Age, dtype: int32

y_test :
7969     33
62724    31
34489    24
41963    31
25074    33
Name: Age, dtype: int32

In [22]:
regressor = LinearRegression()

In [23]:
x_train=data.iloc[:, 0].values
y_train=data.iloc[:, 1].values
x_test=data.iloc[:, 0].values
y_test=data.iloc[:, 1].values
x_train=x_train.reshape(-1,1)
y_train=y_train.reshape(-1,1)
x_test=x_test.reshape(-1,1)
y_test=y_test.reshape(-1,1)

In [25]:
print(regressor.predict(x_test))

[[12.67995529]
 [ 7.13198441]
 [12.67995529]
 ...
 [12.67995529]
 [12.67995529]
 [12.67995529]]

In [26]:
regressor.score(x_test,y_test)

0.6361778283405097